{% extends "base.html" %}

{% block title %}Inscription{% endblock %}
{% load static %}
{% load form_filters %}  

{% block content %}
<div class="register-container">
    <h1>Inscription</h1>
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username|add_placeholder:"Pseudo" }}  <!-- Placeholder pour le pseudo -->
        </div>

        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email|add_placeholder:"Adresse mail" }}  <!-- Placeholder pour l'adresse mail -->
        </div>

        <div class="form-group">
            {{ form.password1.label_tag }}
            {{ form.password1|add_placeholder:"Mot de passe" }}  <!-- Placeholder pour le mot de passe -->
        </div>

        <div class="form-group">
            {{ form.password2.label_tag }}
            {{ form.password2|add_placeholder:"Confirmer le mot de passe" }}  <!-- Placeholder pour la confirmation -->
        </div>

        <button type="submit" class="btn btn-primary">S'inscrire</button>
    </form>
    <p>Déjà un compte ? <a href="{% url 'utilisateurs:connexion' %}">Connectez-vous ici</a></p>
</div>
{% endblock %}
